<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>
    <div class="container">
        {% include navbar.html %}
        <div class="page-title">
            {{page.title}}
        </div>
        <p>Hello! I am a digital archaeologist and a graphic designer based in the Netherlands.
        Outside of work, you can expect to read my ramblings about baking, coffee, typography and birds here.
        That is indeed a lot of random topics mashed together, which is exactly why I created this website. 
        </p>
        <div class="content">
            {{ content }}
        </div>
        {% include footer.html %}
    </div>
</body>
